*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
	--lightRed: hsl(15, 100%, 70%);
}

html{
	font-size: 62.5%;
}

body{
	height: 100vh;
	font-size: 16px;
	color: blue;
	background-color: var(--lightRed);

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;

	grid-template-areas: "head head head"
						 "navi navi navi"
						 "lMai main main"
						 "foot foot foot";

	grid-gap: 10px;
}
