*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
	--lightRed: hsl(15, 100%, 70%);
	--pink: hsl(350, 100%, 88%);
}

html{
	font-size: 62.5%;
}

body{
	height: 100vh;
	font-size: 16px;
	color: purple;
	background-color: var(--pink); 
}
